@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* utilities start */
section {
    padding: 3rem 10%;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
}
.btn-primary {
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    color: #0EB582;
    border: 1px solid #0EB582;
    display: inline-block;
    padding: 0.6rem 1.2rem;
}
.btn-primary:hover {
    background-color: #0EB582;
    color: #fff;
    border: 1px solid #0EB582;
    transition: .3s;
}
.section-title {
    text-align: center;
    color: #555353;
    font-size: 2.3rem;
    margin: 0 0 30px;
}
/* utilities end */


/* header section start */
header {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 16px rgba(128, 128, 128, 0.493);
}
.logo {
    display: inline-block;
    font-size: 25px;
}
.logo::after {
    content: 'Educa';
    font-weight: 800;
    color: #555353;
}
.logo i {
    color: #0EB582;
}

nav ul {
    list-style: none;
    margin: 0;
}
nav ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
}
nav ul li a {
    color: #555353;
    font-weight: 500;
}
nav ul li a:hover, nav ul li i:hover {
    color: #0EB582;
    transition: .2s;
}
nav ul li i {
    color: #494747;
    font-size: 25px;
}
/* header section end */


/* home section end */
.home {
    background: url(../images/home-slide-1.jpg) no-repeat;
    background-size: cover;
}
.content {
    color: #fff;
    padding: 6rem 0;
    text-align: left;
}
.content h3 {
    text-transform: capitalize;
    font-size: 3rem;
    margin: 0;
}
.content p {
    font-size: 1rem;
    line-height: 2;
    padding: 0.5rem 0;
}
/* home section start */


/* subjects section start */
.all-subjects {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 20px;
}
.subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0eb5830e;
    color: #4e4e4e;
    border: 1px solid #0EB582;
    padding: 2.2rem 0.7rem;
}
.subject img {
    width: 70%;
}
.subject h3 {
    font-size: 18px;
    margin: 1rem 0 10px;
}
.subject p {
    font-size: 14px;
    margin: 0;
}
/* subjects section end */


/* courses section start */
.all-courses {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}
.course {
    background-color: #0eb5830e;
}
.course img {
    width: 100%;
}
.course h3 {
    text-align: center;
    font-size: 1.3rem;
    color: #4e4e4e;
}
/* courses section end */


/* footer section start */
footer {
    padding: 3rem 10% 1rem;
    background-color: #0eb5830e;
    color: #444;
}
.footer-column {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}
footer hr {
    background-color: #0EB582;
    border-top: 1px solid #0ada9b;
    margin: 1.5rem 0;
}
.footer-info h3 {
    margin: 0 0 16px;
    font-size: 1.5rem;
}
.footer-info p {
    width: 250px;
}
.footer-info:first-child a.fab {
    display: inline-block;
    padding: 15px;
    background-color: #0EB582;
    color: #fff;
    font-size: 18px;
}
.footer-info:first-child a.fab:hover {
    background-color: #141414cb;
    transition: .3s;
}
.footer-info:not(:first-child) a {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 1.5rem;
    color: #696969;
}
.footer-info:not(:first-child) a:hover {
    color: #0EB582;
    text-decoration: underline;
}
.footer-info input[type="email"] {
    border: 1px solid #0EB582;
    outline: none;
    padding: 12px 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.footer-info input[type="email"]:focus {
    background-color: #0EB582;
    color: #fff;
}
.footer-info input[type="submit"] {
    padding:  12px 2rem;
    border: 1px solid #0EB582;
    background-color: #0eb5830e;
    color: #0EB582;
    font-size: 1.2rem;
}
.footer-info input[type="submit"]:hover {
    background-color: #0EB582;
    color: #fff;
    transition: .3s;
}
.cradit {
    text-align: center;
}
.cradit p {
    font-size: 1.5rem;
}
.cradit span {
    color: #0EB582;
}
/* footer section end */